<div ng-include="'templates/_nav.html'"></div>
<main class="container">
    
    <h2>Configurações</h2>

    <div class="row">
			<div class="col s12 m6">
				<h3 class="header">Cadastro de Fornecedor</h3>
				<div class="card darken-1">
					<div class="card-content white-text">
						<span class="card-title" style="color: black;">Fornecedor</span>
						  
						
					    <div class="row">
							<form class="col s12">
	
								<div class="row">
									<div class="input-field col s12">
										<input id="razao_est" name="razao_est" type="text" class="validate">
										<label for="razao_est">Razão Social</label>
                                    </div>
                                    <div class="input-field col s12">
                                            <input id="fantasia_est" name="fantasia_est" type="text" class="validate">
                                            <label for="fantasia_est">Nome Fantasia</label>
                                        </div>
                                </div>
                                
							</form>
						</div>
					</div>
	
				<div class="card-action">
						<a href="#" class="btn btn-large">Gravar</a>
				</div>
			</div>
		</div>
	</div>

</main>